{% extends 'base.html' %}
{% block title %}Add/Edit {{ model_name }}{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">

<div class="form-container">
    <h2>{{ "Edit" if record else "Add" }} {{ model_name }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
        <a href="{% url 'manage_model' model_name %}" class="btn">Cancel</a>
    </form>
</div>
{% endblock %}
