{% extends 'base.html' %}
{% block content %}
    <style>
    /* Mobile Responsiveness */
@media (max-width: 768px) {
    .bookclub-form {
        width: 95%;
        padding: 15px;
    }
    .navbar .container {
            flex-direction: column;
            align-items: flex-start;
        }

        }
    </style>
<h2>Books</h2>
<a href="{% url 'book_create' %}">➕ Add Book</a>
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Donor</th>
        <th>Actions</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.genre }}</td>
        <td>{{ book.donor_name }}</td>
        <td>
            <a href="{% url 'book_update' book.id %}">✏️ Edit</a>
            <a href="{% url 'book_delete' book.id %}" onclick="return confirm('Are you sure?');">🗑 Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
