<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Book for Donation</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/landing.css' %}">
</head>
<body>




  <!-- Header Section -->
  <header class="header">
    <div class="overlay">
      <div class="content">
        <h1>Welcome to  Book for Donation</h1>
        <p>Transforming Education through Donations and Exchanges</p>
        <button onclick="location.href='{% url 'login' %}'">Get Started</button>
      </div>
    </div>
  </header>

  <!-- Features Section -->
  <section class="features">
    <div class="container">
      <h2>Our Features</h2>
      <div class="feature-cards">
        <div class="card">
          <h3>Donate Books</h3>
          <p>Share your books with those in need and make a difference in their lives.</p>
        </div>
        <div class="card">
          <h3>Exchange Books</h3>
          <p>Find and exchange books with others to foster a culture of knowledge sharing.</p>
        </div>
        <div class="card">
          <h3>Book Clubs</h3>
          <p>Join or create book clubs in your community to promote reading and literacy.</p>
        </div>
      </div>
    </div>
  </section>

{#  <!-- Testimonials Section -->#}
{#  <section class="testimonials">#}
{#    <div class="container">#}
{#      <h2>What Our Users Say</h2>#}
{#      <div class="testimonial-cards">#}
{#        <div class="card">#}
{#          <img src="{% static 'images/john_doe.jpg' %}" alt="John Doe">#}
{#          <p>"Book Exchange has transformed my school's library. We've received so many book donations!"</p>#}
{#          <h4>John Doe, Teacher</h4>#}
{#        </div>#}
{#        <div class="card">#}
{#          <img src="{% static 'images/jane_smith.jpg' %}" alt="Jane Smith">#}
{#          <p>"I love being able to exchange books with others. It's a great way to find new reads!"</p>#}
{#          <h4>Jane Smith, Student</h4>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </section>#}
{##}
{#  <!-- Footer -->#}
  <footer>
    <p>&copy; 2025 Donate or Exchange Books. All Rights Reserved.</p>
  </footer>

  <script src="{% static 'app_name/script.js' %}"></script>

</body>
</html>
